# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/static/images/tabBar/collect_active.png
src/static/images/tabBar/collect_default.png
src/static/images/tabBar/history_active.png
src/static/images/tabBar/history_default.png
